integrations/n8n/btcusd-ema50-zeus-protected.json
{
  "name": "Zeus Protected BTCUSD EMA50 Scanner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "hours": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 1 hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.MT5_BRIDGE_URL || 'http://127.0.0.1:8789' }}/health",
        "options": {
          "timeout": 5000
        }
      },
      "id": "mt5-health-check",
      "name": "MT5 bridge health precheck",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const health = $input.first().json || {};\nconst account = health.account || {};\nconst guard = health.guard || {};\nconst config = health.mt5_connection_config || {};\nconst guardBlockers = Array.isArray(guard.blockers) ? guard.blockers : [];\nconst accountBlockers = Array.isArray(guard.live_account_blockers) ? guard.live_account_blockers : [];\nconst tradeMode = account.trade_mode_label || 'unknown';\nconst demoModeOk = ['demo', 'contest'].includes(tradeMode);\nconst ready = Boolean(\n  health.ok === true &&\n  health.live_enabled === true &&\n  account.connected === true &&\n  demoModeOk &&\n  guard.ok === true &&\n  guardBlockers.length === 0 &&\n  accountBlockers.length === 0\n);\n\nreturn [{\n  json: {\n    ok: ready,\n    bridge_ready: ready,\n    status: ready ? 'demo_live_ready' : 'blocked',\n    live_enabled: health.live_enabled === true,\n    mt5_connected: account.connected === true,\n    trade_mode: tradeMode,\n    demo_mode_ok: demoModeOk,\n    guard_ok: guard.ok === true,\n    real_allowed: config.allow_real_account === true,\n    require_demo_account: config.require_demo_account !== false,\n    blockers: [...guardBlockers, ...accountBlockers, ...(health.ok === true ? [] : ['MT5 bridge health endpoint did not return ok=true.'])],\n    checked_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "normalize-bridge-health",
      "name": "Normalize bridge readiness",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.bridge_ready }}",
              "value2": true
            }
          ]
        }
      },
      "id": "bridge-ready",
      "name": "Bridge demo-live ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZEUS_BASE_URL || 'https://zeustrading.online' }}/api/telegram/alert",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"message\": \"MT5 bridge is not demo-live ready\\nStatus: \" + $json.status + \"\\nLive enabled: \" + $json.live_enabled + \"\\nMT5 connected: \" + $json.mt5_connected + \"\\nTrade mode: \" + $json.trade_mode + \"\\nGuard ok: \" + $json.guard_ok + \"\\nBlockers: \" + (($json.blockers || []).join('; ') || 'unknown') + \"\\n\\nWorkflow stopped before market scan.\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "bridge-not-ready-alert",
      "name": "Send bridge blocked Telegram alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1140,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const strategies = [\n  {\n    symbol: 'BTCUSD',\n    coinGeckoId: 'bitcoin',\n    direction: 'LONG',\n    timeframe: '1h',\n    days: 7,\n    strategy: 'EMA50_TREND',\n    setup: 'BTCUSD hourly close above EMA50',\n    emaPeriod: 50,\n    riskPercent: 0.25,\n    spreadPercent: 0.03,\n    newsRisk: 'low'\n  },\n  {\n    symbol: 'ETHUSD',\n    coinGeckoId: 'ethereum',\n    direction: 'LONG',\n    timeframe: '1h',\n    days: 7,\n    strategy: 'EMA50_TREND',\n    setup: 'ETHUSD hourly close above EMA50',\n    emaPeriod: 50,\n    riskPercent: 0.25,\n    spreadPercent: 0.04,\n    newsRisk: 'low'\n  },\n  {\n    symbol: 'BTCUSD',\n    coinGeckoId: 'bitcoin',\n    direction: 'LONG',\n    timeframe: '1h',\n    days: 7,\n    strategy: 'EMA20_PULLBACK',\n    setup: 'BTCUSD momentum pullback above EMA20',\n    emaPeriod: 20,\n    riskPercent: 0.2,\n    spreadPercent: 0.03,\n    newsRisk: 'low'\n  }\n];\n\nreturn strategies.map((strategy) => ({ json: { ...strategy, scanner_loaded_at: new Date().toISOString() } }));"
      },
      "id": "load-scanner-strategies",
      "name": "Load scanner strategies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        220
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.coingecko.com/api/v3/coins/' + $json.coinGeckoId + '/market_chart?vs_currency=usd&days=' + $json.days + '&interval=hourly' }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-history",
      "name": "Fetch crypto hourly history",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1380,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const history = $input.first().json || {};\nconst strategy = $('Load scanner strategies').item.json;\nconst prices = history.prices || [];\nconst period = Number(strategy.emaPeriod || 50);\nif (prices.length < period + 1) {\n  return [{ json: { ...strategy, ok: false, reason: 'Not enough hourly candles', signal: false } }];\n}\n\nconst closes = prices.map((row) => Number(row[1])).filter((value) => Number.isFinite(value));\nlet ema = closes.slice(0, period).reduce((sum, value) => sum + value, 0) / period;\nconst multiplier = 2 / (period + 1);\nfor (let index = period; index < closes.length; index += 1) {\n  ema = (closes[index] - ema) * multiplier + ema;\n}\n\nconst currentPrice = closes.at(-1);\nconst previousPrice = closes.at(-2);\nconst atrProxy = Math.max(currentPrice * 0.01, Math.abs(currentPrice - previousPrice) * 2);\nconst signal = strategy.direction === 'LONG' ? currentPrice > ema : currentPrice < ema;\nconst stopLoss = strategy.direction === 'LONG'\n  ? Number((currentPrice - atrProxy).toFixed(2))\n  : Number((currentPrice + atrProxy).toFixed(2));\nconst takeProfit = strategy.direction === 'LONG'\n  ? Number((currentPrice + atrProxy * 2).toFixed(2))\n  : Number((currentPrice - atrProxy * 2).toFixed(2));\nconst rr = Number((Math.abs(takeProfit - currentPrice) / Math.max(Math.abs(currentPrice - stopLoss), 1)).toFixed(2));\n\nreturn [{\n  json: {\n    ...strategy,\n    ok: true,\n    current_price: Number(currentPrice.toFixed(2)),\n    ema: Number(ema.toFixed(2)),\n    signal,\n    entry: Number(currentPrice.toFixed(2)),\n    stopLoss,\n    takeProfit,\n    rewardRisk: rr,\n    timestamp: new Date().toISOString(),\n    note: signal ? 'Candidate only. Zeus risk gate and manual approval are still required.' : `No candidate: ${strategy.symbol} did not pass ${strategy.strategy}.`\n  }\n}];"
      },
      "id": "calculate-ema50",
      "name": "Calculate strategy candidate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.signal }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-candidate",
      "name": "Candidate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1860,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZEUS_BASE_URL || 'https://zeustrading.online' }}/api/agentscope/orchestrate",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"symbol\": $json.symbol,\n  \"direction\": $json.direction,\n  \"setup\": $json.setup,\n  \"entry\": $json.entry,\n  \"stopLoss\": $json.stopLoss,\n  \"takeProfit\": $json.takeProfit,\n  \"riskPercent\": $json.riskPercent,\n  \"spreadPercent\": $json.spreadPercent,\n  \"newsRisk\": $json.newsRisk,\n  \"runtime\": \"n8n\",\n  \"authority\": \"manual-approval\",\n  \"source\": \"n8n-generalized-scanner\",\n  \"scannerStrategy\": $json.strategy,\n  \"timeframe\": $json.timeframe\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "zeus-agentscope-review",
      "name": "Zeus AgentScope risk review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2100,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZEUS_BASE_URL || 'https://zeustrading.online' }}/api/telegram/alert",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"message\": \"Zeus scanner candidate\\nSymbol: \" + $json.cycle.preview.mt5_payload.symbol + \"\\nDecision: \" + $json.cycle.final_decision + \"\\nPreview ready: \" + $json.cycle.preview.preview_ready + \"\\nApproval required: \" + $json.cycle.preview.approval_required + \"\\nSource: n8n generalized scanner\\n\\nNo blind live execution. Open Zeus dashboard for manual approval.\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "zeus-telegram-alert",
      "name": "Send Zeus Telegram alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2340,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MT5_BRIDGE_URL || 'http://127.0.0.1:8789' }}/order/preview",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"exchange\": \"mt5-bridge\",\n  \"mode\": \"protected-live\",\n  \"symbol\": $json.cycle.preview.mt5_payload.symbol,\n  \"side\": \"BUY\",\n  \"entry\": $json.cycle.preview.mt5_payload.entry,\n  \"stopLoss\": $json.cycle.preview.mt5_payload.stop_loss,\n  \"takeProfit\": $json.cycle.preview.mt5_payload.take_profit,\n  \"quantity\": $json.cycle.preview.mt5_payload.lot_size,\n  \"riskAmount\": $json.cycle.preview.mt5_payload.estimated_loss,\n  \"rewardRisk\": $json.cycle.preview.mt5_payload.rr_ratio,\n  \"approved\": $json.cycle.final_decision === 'READY_FOR_MANUAL_APPROVAL',\n  \"blockers\": $json.cycle.agents.find(a => a.agent === 'Supervisor Agent').exact_blockers || []\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "mt5-preview-only",
      "name": "Optional MT5 preview only",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2580,
        220
      ]
    }
  ],
  "connections": {
    "Every 1 hour": {
      "main": [
        [
          {
            "node": "MT5 bridge health precheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MT5 bridge health precheck": {
      "main": [
        [
          {
            "node": "Normalize bridge readiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize bridge readiness": {
      "main": [
        [
          {
            "node": "Bridge demo-live ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bridge demo-live ready?": {
      "main": [
        [
          {
            "node": "Load scanner strategies",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send bridge blocked Telegram alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load scanner strategies": {
      "main": [
        [
          {
            "node": "Fetch crypto hourly history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch crypto hourly history": {
      "main": [
        [
          {
            "node": "Calculate strategy candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate strategy candidate": {
      "main": [
        [
          {
            "node": "Candidate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candidate?": {
      "main": [
        [
          {
            "node": "Zeus AgentScope risk review",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Zeus AgentScope risk review": {
      "main": [
        [
          {
            "node": "Send Zeus Telegram alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Optional MT5 preview only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
