integrations/n8n/btcusd-ema50-zeus-protected.json
{
  "name": "Zeus Protected BTCUSD EMA50 Scanner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "hours": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 1 hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.MT5_BRIDGE_URL || 'http://127.0.0.1:8789' }}/health",
        "options": {
          "timeout": 5000
        }
      },
      "id": "mt5-health-check",
      "name": "MT5 bridge health precheck",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const health = $input.first().json || {};\nconst account = health.account || {};\nconst guard = health.guard || {};\nconst config = health.mt5_connection_config || {};\nconst guardBlockers = Array.isArray(guard.blockers) ? guard.blockers : [];\nconst accountBlockers = Array.isArray(guard.live_account_blockers) ? guard.live_account_blockers : [];\nconst tradeMode = account.trade_mode_label || 'unknown';\nconst demoModeOk = ['demo', 'contest'].includes(tradeMode);\nconst ready = Boolean(\n  health.ok === true &&\n  health.live_enabled === true &&\n  account.connected === true &&\n  demoModeOk &&\n  guard.ok === true &&\n  guardBlockers.length === 0 &&\n  accountBlockers.length === 0\n);\n\nreturn [{\n  json: {\n    ok: ready,\n    bridge_ready: ready,\n    status: ready ? 'demo_live_ready' : 'blocked',\n    live_enabled: health.live_enabled === true,\n    mt5_connected: account.connected === true,\n    trade_mode: tradeMode,\n    demo_mode_ok: demoModeOk,\n    guard_ok: guard.ok === true,\n    real_allowed: config.allow_real_account === true,\n    require_demo_account: config.require_demo_account !== false,\n    blockers: [...guardBlockers, ...accountBlockers, ...(health.ok === true ? [] : ['MT5 bridge health endpoint did not return ok=true.'])],\n    checked_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "normalize-bridge-health",
      "name": "Normalize bridge readiness",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.bridge_ready }}",
              "value2": true
            }
          ]
        }
      },
      "id": "bridge-ready",
      "name": "Bridge demo-live ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZEUS_BASE_URL || 'https://zeustrading.online' }}/api/telegram/alert",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"message\": \"MT5 bridge is not demo-live ready\\nStatus: \" + $json.status + \"\\nLive enabled: \" + $json.live_enabled + \"\\nMT5 connected: \" + $json.mt5_connected + \"\\nTrade mode: \" + $json.trade_mode + \"\\nGuard ok: \" + $json.guard_ok + \"\\nBlockers: \" + (($json.blockers || []).join('; ') || 'unknown') + \"\\n\\nWorkflow stopped before market scan.\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "bridge-not-ready-alert",
      "name": "Send bridge blocked Telegram alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1140,
        420
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.ZEUS_BASE_URL || 'https://zeustrading.online' }}/api/economic-calendar?focus=usd",
        "options": {
          "timeout": 15000
        }
      },
      "id": "zeus-economic-calendar-check",
      "name": "Zeus economic calendar check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1140,
        220
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const calendar = $input.first().json || {};\nconst highEvents = Array.isArray(calendar.events)\n  ? calendar.events.filter((event) => String(event.impact || '').toLowerCase() === 'high')\n  : [];\nconst riskLevel = String(calendar.riskLevel || 'unknown').toLowerCase();\nconst blocked = calendar.ok !== true || riskLevel === 'high' || highEvents.length > 0;\n\nreturn [{\n  json: {\n    macro_clear: !blocked,\n    macro_risk_level: riskLevel,\n    calendar_source: calendar.source || 'unknown',\n    high_impact_count: highEvents.length,\n    high_impact_events: highEvents.slice(0, 5).map((event) => ({\n      time: event.time,\n      currency: event.currency,\n      event: event.event,\n      action: event.action\n    })),\n    checked_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "normalize-macro-calendar",
      "name": "Normalize macro calendar gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.macro_clear }}",
              "value2": true
            }
          ]
        }
      },
      "id": "macro-clear",
      "name": "Macro calendar clear?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1620,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZEUS_BASE_URL || 'https://zeustrading.online' }}/api/telegram/alert",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"message\": \"Macro calendar blocked scanner\nRisk level: \" + $json.macro_risk_level + \"\nHigh-impact events: \" + $json.high_impact_count + \"\nSource: \" + $json.calendar_source + \"\n\nWorkflow stopped before strategy scan. Verify Investing economic calendar manually.\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "macro-blocked-alert",
      "name": "Send macro blocked Telegram alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1860,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const strategies = [\n  {\n    id: 'btc_ema50_rsi_momentum',\n    symbol: 'BTCUSD',\n    coinGeckoId: 'bitcoin',\n    direction: 'LONG',\n    timeframe: '1h',\n    days: 7,\n    strategy: 'EMA_RSI_MACD_VOLUME',\n    setup: 'BTCUSD EMA50 momentum with RSI/MACD/volume confirmation',\n    conditions: {\n      price_above_ema: 50,\n      rsi_above: 45,\n      macd_bullish: true,\n      volume_spike: 1.05\n    },\n    riskPercent: 0.25,\n    spreadPercent: 0.03,\n    newsRisk: 'low',\n    slPercent: 0.98,\n    tpPercent: 1.02,\n    active: true\n  },\n  {\n    id: 'eth_ema20_macd',\n    symbol: 'ETHUSD',\n    coinGeckoId: 'ethereum',\n    direction: 'LONG',\n    timeframe: '1h',\n    days: 7,\n    strategy: 'EMA_MACD_TREND',\n    setup: 'ETHUSD EMA20 trend with MACD confirmation',\n    conditions: {\n      price_above_ema: 20,\n      macd_bullish: true\n    },\n    riskPercent: 0.25,\n    spreadPercent: 0.04,\n    newsRisk: 'low',\n    slPercent: 0.97,\n    tpPercent: 1.03,\n    active: true\n  },\n  {\n    id: 'btc_rsi_reclaim',\n    symbol: 'BTCUSD',\n    coinGeckoId: 'bitcoin',\n    direction: 'LONG',\n    timeframe: '1h',\n    days: 7,\n    strategy: 'RSI_RECLAIM',\n    setup: 'BTCUSD RSI recovery above EMA20',\n    conditions: {\n      price_above_ema: 20,\n      rsi_above: 50,\n      volume_spike: 1.0\n    },\n    riskPercent: 0.2,\n    spreadPercent: 0.03,\n    newsRisk: 'low',\n    slPercent: 0.985,\n    tpPercent: 1.025,\n    active: true\n  }\n];\n\nreturn strategies\n  .filter((strategy) => strategy.active !== false)\n  .map((strategy) => ({ json: { ...strategy, scanner_loaded_at: new Date().toISOString() } }));"
      },
      "id": "load-scanner-strategies",
      "name": "Load scanner strategies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        220
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.coingecko.com/api/v3/coins/' + $json.coinGeckoId + '/market_chart?vs_currency=usd&days=' + $json.days + '&interval=hourly' }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-history",
      "name": "Fetch crypto hourly history",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2100,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const history = $input.first().json || {};\nconst strategy = $('Load scanner strategies').item.json;\nconst prices = history.prices || [];\nconst volumes = history.total_volumes || [];\nconst conditions = strategy.conditions || {};\nconst minLookback = Math.max(conditions.price_above_ema || 0, 50);\n\nif (prices.length < minLookback + 1) {\n  return [{ json: { ...strategy, ok: false, reason: 'Not enough hourly candles', signal: false } }];\n}\n\nconst closes = prices.map((row) => Number(row[1])).filter((value) => Number.isFinite(value));\nconst volumeValues = volumes.map((row) => Number(row[1])).filter((value) => Number.isFinite(value));\nconst currentPrice = closes.at(-1);\nconst previousPrice = closes.at(-2);\n\nfunction calculateEMA(values, period) {\n  if (!period || values.length < period) return null;\n  let ema = values.slice(0, period).reduce((sum, value) => sum + value, 0) / period;\n  const multiplier = 2 / (period + 1);\n  for (let index = period; index < values.length; index += 1) {\n    ema = (values[index] - ema) * multiplier + ema;\n  }\n  return ema;\n}\n\nfunction calculateRSI(values, period = 14) {\n  if (values.length < period + 1) return null;\n  let gains = 0;\n  let losses = 0;\n  for (let index = 1; index <= period; index += 1) {\n    const diff = values[index] - values[index - 1];\n    if (diff >= 0) gains += diff;\n    else losses -= diff;\n  }\n  let avgGain = gains / period;\n  let avgLoss = losses / period;\n  for (let index = period + 1; index < values.length; index += 1) {\n    const diff = values[index] - values[index - 1];\n    if (diff >= 0) {\n      avgGain = (avgGain * (period - 1) + diff) / period;\n      avgLoss = (avgLoss * (period - 1)) / period;\n    } else {\n      avgGain = (avgGain * (period - 1)) / period;\n      avgLoss = (avgLoss * (period - 1) - diff) / period;\n    }\n  }\n  if (avgLoss === 0) return 100;\n  const rs = avgGain / avgLoss;\n  return 100 - (100 / (1 + rs));\n}\n\nfunction calculateMACD(values, fast = 12, slow = 26) {\n  if (values.length < slow * 2) return null;\n  const macdLine = calculateEMA(values, fast) - calculateEMA(values, slow);\n  const previousValues = values.slice(0, -1);\n  const previousMacd = calculateEMA(previousValues, fast) - calculateEMA(previousValues, slow);\n  return {\n    value: macdLine,\n    previous: previousMacd,\n    bullish: macdLine > 0 && macdLine > previousMacd,\n    bearish: macdLine < 0 && macdLine < previousMacd\n  };\n}\n\nfunction calculateVolumeSpike(values, lookback = 20) {\n  if (values.length < lookback + 1) return 1;\n  const current = values.at(-1);\n  const recent = values.slice(-lookback - 1, -1);\n  const average = recent.reduce((sum, value) => sum + value, 0) / recent.length;\n  return average > 0 ? current / average : 1;\n}\n\nconst emaPeriod = conditions.price_above_ema || conditions.price_below_ema || null;\nconst ema = emaPeriod ? calculateEMA(closes, emaPeriod) : null;\nconst rsi = (conditions.rsi_below || conditions.rsi_above) ? calculateRSI(closes, 14) : null;\nconst macd = (conditions.macd_bullish || conditions.macd_bearish) ? calculateMACD(closes) : null;\nconst volumeSpike = conditions.volume_spike ? calculateVolumeSpike(volumeValues, 20) : 1;\nconst atrProxy = Math.max(currentPrice * 0.01, Math.abs(currentPrice - previousPrice) * 2);\nconst reasons = [];\nlet signal = true;\n\nif (conditions.price_above_ema) {\n  const passed = ema !== null && currentPrice > ema;\n  if (!passed) {\n    signal = false;\n    reasons.push('Price is not above EMA' + conditions.price_above_ema);\n  }\n}\n\nif (conditions.price_below_ema) {\n  const passed = ema !== null && currentPrice < ema;\n  if (!passed) {\n    signal = false;\n    reasons.push('Price is not below EMA' + conditions.price_below_ema);\n  }\n}\n\nif (conditions.rsi_below) {\n  const passed = rsi !== null && rsi < conditions.rsi_below;\n  if (!passed) {\n    signal = false;\n    reasons.push('RSI is not below ' + conditions.rsi_below);\n  }\n}\n\nif (conditions.rsi_above) {\n  const passed = rsi !== null && rsi > conditions.rsi_above;\n  if (!passed) {\n    signal = false;\n    reasons.push('RSI is not above ' + conditions.rsi_above);\n  }\n}\n\nif (conditions.macd_bullish && !(macd && macd.bullish)) {\n  signal = false;\n  reasons.push('MACD is not bullish');\n}\n\nif (conditions.macd_bearish && !(macd && macd.bearish)) {\n  signal = false;\n  reasons.push('MACD is not bearish');\n}\n\nif (conditions.volume_spike && volumeSpike < conditions.volume_spike) {\n  signal = false;\n  reasons.push('Volume spike is below ' + conditions.volume_spike + 'x');\n}\n\nconst stopLoss = strategy.direction === 'LONG'\n  ? Number((currentPrice * Number(strategy.slPercent || 0.98)).toFixed(2))\n  : Number((currentPrice * (2 - Number(strategy.slPercent || 0.98))).toFixed(2));\nconst takeProfit = strategy.direction === 'LONG'\n  ? Number((currentPrice * Number(strategy.tpPercent || 1.02)).toFixed(2))\n  : Number((currentPrice * (2 - Number(strategy.tpPercent || 1.02))).toFixed(2));\nconst rr = Number((Math.abs(takeProfit - currentPrice) / Math.max(Math.abs(currentPrice - stopLoss), 1)).toFixed(2));\nconst indicatorSummary = {\n  emaPeriod,\n  ema: ema === null ? null : Number(ema.toFixed(2)),\n  rsi14: rsi === null ? null : Number(rsi.toFixed(2)),\n  macdValue: macd ? Number(macd.value.toFixed(4)) : null,\n  macdBullish: macd ? macd.bullish : false,\n  volumeSpike: Number(volumeSpike.toFixed(2))\n};\n\nreturn [{\n  json: {\n    ...strategy,\n    ok: true,\n    current_price: Number(currentPrice.toFixed(2)),\n    indicators: indicatorSummary,\n    ema: indicatorSummary.ema,\n    rsi: indicatorSummary.rsi14,\n    macd_bullish: indicatorSummary.macdBullish,\n    volume_spike: indicatorSummary.volumeSpike,\n    signal,\n    entry: Number(currentPrice.toFixed(2)),\n    stopLoss,\n    takeProfit,\n    rewardRisk: rr,\n    rejectionReasons: reasons,\n    timestamp: new Date().toISOString(),\n    note: signal ? 'Candidate only. Zeus risk gate and manual approval are still required.' : reasons.join('; ')\n  }\n}];"
      },
      "id": "calculate-ema50",
      "name": "Calculate strategy candidate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.signal }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-candidate",
      "name": "Candidate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2580,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZEUS_BASE_URL || 'https://zeustrading.online' }}/api/journal",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"eventType\": \"n8n_scanner_rejected\",\n  \"payload\": {\n    \"symbol\": $json.symbol,\n    \"strategy\": $json.strategy,\n    \"setup\": $json.setup,\n    \"timeframe\": $json.timeframe,\n    \"current_price\": $json.current_price,\n    \"conditions\": $json.conditions,\n    \"indicators\": $json.indicators,\n    \"rejectionReasons\": $json.rejectionReasons,\n    \"note\": $json.note,\n    \"timestamp\": $json.timestamp,\n    \"source\": \"n8n-indicator-scanner\"\n  }\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "save-rejected-scanner-journal",
      "name": "Save rejected scanner journal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2820,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZEUS_BASE_URL || 'https://zeustrading.online' }}/api/agentscope/orchestrate",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"symbol\": $json.symbol,\n  \"direction\": $json.direction,\n  \"setup\": $json.setup,\n  \"entry\": $json.entry,\n  \"stopLoss\": $json.stopLoss,\n  \"takeProfit\": $json.takeProfit,\n  \"riskPercent\": $json.riskPercent,\n  \"spreadPercent\": $json.spreadPercent,\n  \"newsRisk\": $json.newsRisk,\n  \"runtime\": \"n8n\",\n  \"authority\": \"manual-approval\",\n  \"source\": \"n8n-indicator-scanner\",\n  \"scannerStrategy\": $json.strategy,\n  \"timeframe\": $json.timeframe,\n  \"conditions\": $json.conditions,\n  \"indicators\": $json.indicators,\n  \"rewardRisk\": $json.rewardRisk,\n  \"analysisRequest\": \"Explain this signal in plain language, but never approve blind execution.\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "zeus-agentscope-review",
      "name": "Zeus AgentScope risk review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2820,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZEUS_BASE_URL || 'https://zeustrading.online' }}/api/telegram/alert",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"message\": \"Zeus scanner candidate\nSymbol: \" + $json.cycle.preview.mt5_payload.symbol + \"\nDecision: \" + $json.cycle.final_decision + \"\nPreview ready: \" + $json.cycle.preview.preview_ready + \"\nApproval required: \" + $json.cycle.preview.approval_required + \"\nSource: n8n indicator scanner\n\nNo blind live execution. Open Zeus dashboard for manual approval.\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "zeus-telegram-alert",
      "name": "Send Zeus Telegram alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3060,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MT5_BRIDGE_URL || 'http://127.0.0.1:8789' }}/order/preview",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"exchange\": \"mt5-bridge\",\n  \"mode\": \"protected-live\",\n  \"symbol\": $json.cycle.preview.mt5_payload.symbol,\n  \"side\": \"BUY\",\n  \"entry\": $json.cycle.preview.mt5_payload.entry,\n  \"stopLoss\": $json.cycle.preview.mt5_payload.stop_loss,\n  \"takeProfit\": $json.cycle.preview.mt5_payload.take_profit,\n  \"quantity\": $json.cycle.preview.mt5_payload.lot_size,\n  \"riskAmount\": $json.cycle.preview.mt5_payload.estimated_loss,\n  \"rewardRisk\": $json.cycle.preview.mt5_payload.rr_ratio,\n  \"approved\": $json.cycle.final_decision === 'READY_FOR_MANUAL_APPROVAL',\n  \"blockers\": $json.cycle.agents.find(a => a.agent === 'Supervisor Agent').exact_blockers || []\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "mt5-preview-only",
      "name": "Optional MT5 preview only",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3300,
        220
      ]
    }
  ],
  "connections": {
    "Every 1 hour": {
      "main": [
        [
          {
            "node": "MT5 bridge health precheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MT5 bridge health precheck": {
      "main": [
        [
          {
            "node": "Normalize bridge readiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize bridge readiness": {
      "main": [
        [
          {
            "node": "Bridge demo-live ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bridge demo-live ready?": {
      "main": [
        [
          {
            "node": "Zeus economic calendar check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send bridge blocked Telegram alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load scanner strategies": {
      "main": [
        [
          {
            "node": "Fetch crypto hourly history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch crypto hourly history": {
      "main": [
        [
          {
            "node": "Calculate strategy candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate strategy candidate": {
      "main": [
        [
          {
            "node": "Candidate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candidate?": {
      "main": [
        [
          {
            "node": "Zeus AgentScope risk review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save rejected scanner journal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zeus AgentScope risk review": {
      "main": [
        [
          {
            "node": "Send Zeus Telegram alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Optional MT5 preview only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zeus economic calendar check": {
      "main": [
        [
          {
            "node": "Normalize macro calendar gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize macro calendar gate": {
      "main": [
        [
          {
            "node": "Macro calendar clear?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Macro calendar clear?": {
      "main": [
        [
          {
            "node": "Load scanner strategies",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send macro blocked Telegram alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
